{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/elements/alpha-beta-banners">Alpha and Beta banners</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Alpha and Beta Banners
        </h1>

        <p>
          Only use a banner if the service is part of a Digital-by-Default
          service.
        </p>

        <p>
          <a href="http://govuk-elements.herokuapp.com/alpha-beta-banners/">View on GOV.UK Elements</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
