{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/elements/buttons">Buttons</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Buttons
        </h1>

        <p>
          Use the exiting button patterns on GOV.UK, whether public or staff-facing.
        </p>

        <p>
          <a href="http://govuk-elements.herokuapp.com/buttons/">View on GOV.UK Elements</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
