{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/elements/colour">Colour</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Colour
        </h1>

        <p>
          Use the extensive GOV.UK colour palette for all services, whether public or staff-facing. You can reduce the
          strength of colours by using tints of 50% and 25%.
        </p>

        <p>
          <a href="http://govuk-elements.herokuapp.com/colour/">View on GOV.UK Elements</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
