{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/errors">Errors and validation</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Errors and validation
        </h1>

        <p>Use the standard <a href="http://govuk-elements.herokuapp.com/errors/">guidelines</a>
          in the GOV.UK elements library.
        </p>

        <p>
          <a href="http://govuk-elements.herokuapp.com/errors/">View on GOV.UK Elements</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
