{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/footer">Footer</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Footer
        </h1>

        <p>
          It’s not necessary to display a footer on staff-facing services but
          you may find it useful. Don’t display a footer on staff-facing services.
        </p>

        <h3 class="heading-large">
          Version 1
          <span class="heading-secondary">for a public-facing service on GOV.UK</span>
        </h3>

        <p>
          This footer is similar to the standard one. It should always say:
          ‘Built by DWP Digital’. Work with your service team to decide which
          other links to include.
        </p>
      </div>
    </div>

    <div class="grid-row">
      <footer id="footer">
        <div class="footer-wrapper">
          <div class="footer-meta">
            <div class="footer-meta-inner">
              <ul class="platform-help-links">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>

              <p class="built-by-dwp">Built by DWP Digital</p>

              <div class="open-government-licence">
                <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                  <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
              </div>
            </div>

            <div class="copyright">
              <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">© Crown Copyright</a>
            </div>
          </div>
        </div>
      </footer>

      <p>
        <details>
          <summary><span class="summary">View code snippet</span></summary>
          <div class="panel panel-border-narrow">
            <div class="tab-panel">
              <div class="tab-panel-menu">
                <a href="#" class="tab-link">HTML</a>
                <a href="#" class="tab-link">CSS</a>
              </div>

              <div class="tab-panes">
                <div class="tab-pane">
                  <pre class="language-markup">
                    <code>
                        &lt;footer id="footer"&gt;
                          &lt;div class="footer-wrapper"&gt;
                            &lt;div class="footer-meta"&gt;
                              &lt;div class="footer-meta-inner"&gt;
                                &lt;ul class="platform-help-links"&gt;
                                  &lt;li&gt;&lt;a href="#"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
                                  &lt;li&gt;&lt;a href="#"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
                                  &lt;li&gt;&lt;a href="#"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
                                  &lt;li&gt;&lt;a href="#"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
                                &lt;/ul&gt;

                                &lt;p class="built-by-dwp"&gt;Built by DWP Digital&lt;/p&gt;

                                &lt;div class="open-government-licence"&gt;
                                  &lt;p class="logo"&gt;&lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence&lt;/a&gt;&lt;/p&gt;
                                    &lt;p&gt;All content is available under the &lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence v3.0&lt;/a&gt;, except where otherwise stated&lt;/p&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;

                              &lt;div class="copyright"&gt;
                                &lt;a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank"&gt;© Crown Copyright&lt;/a&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/footer&gt;
                    </code>
                  </pre>
                </div>

                <div class="tab-pane">
                  <pre class="language-css">
                    <code>
                      CSS
                    </code>
                  </pre>
                </div>
              </div>
            </div>

          </div>
        </details>
      </p>
    </div>
  </main>
{% endblock %}
