{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/icons-images">Icons and images</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Icons and images
        </h1>

        <p class="lede">
          Use icons sparingly on public-facing services. You may find them more
          useful on staff-facing services.
        </p>

        <p>
          Icons must be consistent across services.
          More guidance around icons will be created if necessary.
        </p>

        <p>
          <a href="http://govuk-elements.herokuapp.com/icons-images/">View on GOV.UK Elements</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
