{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/layout">Layout</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Layout
        </h1>

        <p class="lede">
          Use the standard GOV.UK layout <a href="http://govuk-elements.herokuapp.com/errors/">guidelines</a>
          wherever possible.
        </p>

        <p>
          Consider whether you can design a better experience
          by using the full width of the screen eg for a staff-facing service
          that will only be used on a wide-screen monitor. Use the menu pattern
          in the DWP pattern library for sub-navigation in a staff-facing service.
        </p>

        <p>
          <a href="http://govuk-elements.herokuapp.com/layout/">View on GOV.UK Elements</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
