{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/naming-internal-services">Naming internal services</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Naming internal services
        </h1>

        <p class="lede">
          The name of an internal system should be consistent with the name of
          the public-facing service it supports.
        </p>

        <p>This could be the operational service function like ‘Universal Credit’ or a verb that states the
          core function of a standalone tool like ‘(Make a) Real Time Information
          request’.
        </p>
      </div>
    </div>
  </main>
{% endblock %}
