{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">DWP Elements</a></li>
            <li><a href="/typography">Typography</a></li>
          </ol>
        </div>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">DWP elements</span>
          Typography
        </h1>

        <h3 class="heading-medium">Font</h3>

        <p>
          <span style="font-weight:700">GDS Transport Website (light and bold)</span>
          - for a staff-facing service on GOV.UK
        </p>

        <p>
          <span style="font-weight:700">Noto Sans</span> - for any service that
          isn’t on GOV.UK</b>
        </p>

        <p>
          This is a free, open source font. We can’t use GDS Transport Website
          because of licensing restrictions.
        </p>

        <p>
          <a href="http://govuk-elements.herokuapp.com/typography/">View on GOV.UK Elements</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
