{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP Elements guide
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/">DWP Elements</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">DWP internal elements guide</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        This guide explains how to use elements for internal DWP services and
        services that aren’t hosted on a GOV.UK domain.
      </p>

      <p>
        You should use these elements in addition to the standard
        <a href="http://govuk-elements.herokuapp.com/">GOV.UK design elements</a>.
      </p>

      <p>They should be used when you’re working on:</p>

      <ul class="list-bullet">
        <li>a staff-facing DWP service hosted on GOV.UK (this could be the staff interface of a public-facing service)</li>
        <li>a public or staff-facing DWP service that isn’t hosted on GOV.UK</li>
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/naming-services/">Naming Services</a></h2>
      <p>
        Things to consider when naming an internal service.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/header/">Header</a></h2>
      <p>
        Top bar and service name.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/footer/">Footer</a></h2>
      <p>
        Footer, including links and copyright etc.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/layout/">Layout</a></h2>
      <p>
        Grid unit proportions, gutters and spacing.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/typography/">Typography</a></h2>
      <p>
        Headings, body text, links, lists, inset text, hidden text.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/colour/">Colour</a></h2>
      <p>
        Colour contrast, Sass variables, colour palettes.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/icons-images/">Icons and images</a></h2>
      <p>
        Icons and image ratios.
      </p>

    </div>
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/data/">Data</a></h2>
      <p>
        Data in a table, numeric tabular data, data visualisation.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/buttons/">Buttons</a></h2>
      <p>
        Button text, button alignment, creating buttons.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/form-elements/">Form elements</a></h2>
      <p>
        Form fields, labels, focus states, radio buttons, checkboxes.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/errors/">Errors and validation</a></h2>
      <p>
        Summary boxes, highlighting errors in forms.
      </p>
    </div>

    <div class="column-one-third">
      <h2 class="heading-medium"><a href="/alpha-beta-banners/">Alpha and beta banners</a></h2>
      <p>
        How to create alpha and beta banners using the front-end toolkit.
      </p>
    </div>
  </div>
</main>

{% endblock %}
